@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    
}

  body{
    background-image: url("social-proof-section-master/images/bg-pattern-top-desktop.svg") ,url("social-proof-section-master/images/bg-pattern-bottom-desktop.svg") ;
    background-repeat: no-repeat;
    background-position: top left,right 10vw; 
  }
.main{
    /* height: 30.3rem; */
    width: 70.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
}
.main-text{
    flex-basis: 50%;
    padding: 2rem 1.5rem 0rem 2rem;
    height: fit-content;
}
h1{
    font-size: 3rem;
    line-height: 3rem;
    color: var(--Very-Dark-Magenta);
}
.motto{
    font-size: 0.9rem;
    width: 85%;
    margin-top: 0.5rem;
    line-height: 1.5rem;
    color: var(--Dark-Grayish-Magenta);
}

.ratings{
    flex-basis: 50%;
   
}
.ratings_1{
    background-color: var(--Light-Grayish-Magenta);
    padding: 0.8rem 2rem;
    width: 75%;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}
.ratings_wrap{
    margin-top: 3rem;
}
.ratings_wrap div{
    margin:0.8rem;
}
.ratings .ratings_alt1{
    margin-left: 4rem;
}
.ratings .ratings_alt2{
    margin-left: 7.5rem;
}
.ratings_1 img{
    padding:0.1rem;
    margin-top: 0.5rem;
}
span{
    margin-left: 1.5rem;
    position: relative;
    bottom: 0.3rem;
}

.reviews_wrap{
    display: flex;
    padding:0rem 1rem;
}
.reviews_wrap div{
    margin: 0.6rem;
}
.person{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}
.name,.identity{
    margin-left: 1rem;
    font-size: 0.8rem;
}
.name{
    font-weight: 700;
    color: var(--White);
    margin-bottom: 0.3rem;
}
.identity{
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--Soft-Pink);
}
.review_1{
    background-color:var(--Very-Dark-Magenta);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.review_1_div2{
    flex: 6;
}
.review_1_div1{
    flex: 1;
}

.review_1_div3{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--White);
    line-height:1.25rem ;
    margin-left: 0.5rem;
}
.pos1{
    position: relative;
    top: 3rem;
    left: 0.5rem;
}
.pos2{
    position: relative;
    top: 4rem;
    left: 0.5rem;
}
.pos3{
    position: relative;
    top: 5rem;
    left: 0.5rem;
}

@media(max-width:361px){
    :root{
        font-size: 10px;
    }
    body{
        background-image: url("social-proof-section-master/images/bg-pattern-top-mobile.svg");
        
    }

    .main{
        width:35rem;
        display: block;
        text-align: center;
        padding: 1rem;
        height: 100vh;
       /* margin-top: -12rem; */
       /* margin-bottom: 1rem; */
    }
    h1{
        line-height: unset;
    }
    .motto{
        width: 100%;
    }
    .ratings .ratings_alt1,.ratings .ratings_alt2{
        margin-left: unset;
    }
    .ratings span{
        display: block;
        margin: 0.5rem;
    }
    .ratings_wrap div{
        /* margin: unset; */
        margin: 0.5rem 0rem;
    }
    .ratings_1{
        width: 100%;
    }
    .pos1,.pos2,.pos3{
        position: unset;
    }
    .reviews_wrap{
        display: block;
        text-align: left;
    }
    .review_1_div3{
        margin-top: 1rem;
    }
}