*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body{
    background: url("FRONTENDMENTOR3/social-proof-section-master/images/bg-pattern-top-desktop.svg") top left no-repeat,url("social-proof-section-master/images/bg-pattern-bottom-desktop.svg")bottom right no-repeat;
    
  }
.main{
    height: 30.3rem;
    width: 60.4rem;
    border:1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}